/*--------------------------------------
         Header
---------------------------------------*/
header{
    height: 100vh;
    background: linear-gradient(rgba(245, 241, 218, .7), rgba(227, 223, 200, .8)), url(../img/lib.jpg) fixed center no-repeat;
    clip-path: polygon(0 0,100% 0, 100% 90%,0 100%);
}

.banner-heading:first-letter{
    font-family: 'Great Vibes', cursive;
    font-size: 10rem;
    margin-right: 20px;
}

.banner-heading{
    color: #00416d;
}

.banner-heading img{
    animation: beating 2s infinite;
}

@keyframes beating{
    0%{
        transform: scale(1)
    }
    40%{
        transform: scale(1.1)
    }
    60%{
        transform: scale(1.05)
    }
    80%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
} 

.bg-image{
    width: 100%;
    Object-fit: cover;
    z-index: 1;
}

/*-------------------------------------
     Common Title
-------------------------------------*/
.common-title{
    display: inline-block;
    font-size: 3rem;
    font-weight: 500;
    text-shadow: 2px 2px 5px #00416d;
    transition: all .5s;
}

.common-title:first-letter{
    font-family: 'Great Vibes', cursive;
    margin-right: 10px;
    font-style: normal;
}

.common-title:hover{
    transform: translate(-5px, -3px);
    text-shadow: 2px 5px 20px #00416d;
}